div(class="homeContainer")
	
	

	div(style="background-color:blue; height:50px; width:100%;")
		div(style="float:left;")
			| Welcome {{ user.username }}
		div(style="float:right;")
			button(ng-click="session.logout()") logout
	
	div(style="background-color:red; height:400px; padding-top:10px;")
		div(style="margin-left: 20px; float:left;")
			| fighter container
			div(id="ThreeJS")

		div(style="margin-right: 20px; float:right;")
			| stats container
			div(style="border:solid;")
				| stats canvas

	div(style="width:100px; margin-left:auto;margin-right:auto;")
		button( ng-click="startGame()" style="width:100px;") Start a Game