div(ng-show="session.isLoggedIn")
	div
		| Create Poll

	hr
	input(placeholder="Whats your polls title?" ng-model="poll.title" type="text"  style="font-size: 1em; border:none; background-color:whitesmoke; height: 30px; padding:5px; width:300px;")
	br
	br
	textarea(placeholder="Enter some details about the poll" ng-model="poll.info" style="border:none; background-color:whitesmoke; font-size: 1em; font-family: inherit; font-size: inherit; width:600px; height:300px; padding:5px;")
	br
	div.answerSectionContainer 
		div.addAnswerButton	
			button(class="pure-button" ng-click="addAnswer()") Add new answer

		div.answerContainer(ng-repeat="anwser in poll.answers")
			input.answerInput(ng-model="anwser.answer" placeholder="Insert answer")
			i(class="fa fa-eraser" style="cursor:pointer;" ng-click="removeAnswer($index)")



	| Preview
	div(style="border:1px dotted black;")
		h1 {{ poll.title }}
		{{ poll.info }}
		br
		br
		button(class="pure-button" ng-repeat="answer in poll.answers") {{ answer.answer }}



	button(class="pure-button pure-button-active" ng-click="createPoll()") Create Poll

div(ng-hide="session.isLoggedIn")
	| In order to create a poll you have to log in or sign up