| this is the index view should display various polls

| Newest polls
br
br
div.pollsContainer(ng-repeat="poll in polls" ng-click="{{poll._id}}")
	div(style="width:100px; float:left;")
		div
			| votes {{ poll.votes}}
		div
			| views {{ poll.views}}
	div(style="width:500px; float:right;")
		div
			a(ui-sref='poll({pollid:poll._id})') {{ poll.title }}
		div
			{{ poll.info }}


