div(class="loginButtonsContainer")
	button(class="loginButtons loginButtonsTop" ng-click="session.facebookLogin()")
		|Login with 
		br
		i(class="fa fa-facebook-square fa-2x")

	button(class="loginButtons loginButtonsTop" ng-click="")
		|Login with 
		br
		i(class="fa fa-twitter-square fa-2x") 