div(class="loginButtonsContainer")
	div(class="loginButtons loginButtonsTop" ng-click="session.facebookLogin()") Login with 
			i(class="fa fa-facebook-square fa-2x")
	div(class="loginButtons loginButtonsBottom" ) 
		a(style=" text-decoration:none; display:block; color:white;" ui-sref='go') Nah, skip login!